/* default setting */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    max-width: 1920px;
    font-size: 1rem;

}
/* section one */
.section1{
    max-width: 1920px;
    font-size: 1rem;

}
/* section 1 */
.section1 {
    max-width: 1920px;
    min-height: 100vh;
    background-color: #d7d7d70;
    background:no repeat;
    background-im

}
.section1 nav{
    background-color: black;
    padding-top: 20px;
    padding-left: 42px;
    padding-right: 42px;
    padding-bottom: 5px;
    
}