/* default setting */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    max-width: 1920px;
    height: 1022px;

}

/* section 1 */

.section1 {
    max-width: 1920px;
    min-height: 100vh;
    background-color: #D7D7D7;
    background-image: url(../portfolio.html/images/Rectangle2.jpg);
    background-size: 70vw 100%;
    background-position: top right;
    background-repeat: no-repeat;
    padding top: 72px;
    padding-left: 14vw;
    padding-right: 15vw;
}

/* nav */

.section1 ol {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.section1 .links a {
    max-width: 147px;
    height: 46px;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 70.72px;
    text-align: center;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* nav */
.section1 nav {
    background-color: black;
    padding-top: 20px;
    padding-left: 42px;
    padding-right: 42px;
    padding-bottom: 5px;
}

.section1 .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    s
}

.section1 .links .contact {
    border: 4px solid #FFFFFF;
    background-color: white;
    color: black;
    border-radius: 30px;
}

.section1.menu {
    display: none;

}

.section1 .logo .mobile {
    display: none;
}

/* mobile view */
@media screen and (max-width:900px) {
    .section1.menu {
        display: flex;

    }

    .section .links {
        display: none;
    }

    /* dropdown hover css start */
    .dropbtn {
        /* background-color: #04AA6D; */
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: fixed;
        background-color: #f1f1f1;
        width: 100%;
        left: 0px;
        top: 85px;
        text-align: center;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }

    </style>

    /* dropdown hover css end */
    .section1 {
        background-color: unset;
        background-image: url(../portfolio.html/images/Background.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: unset;
    }

    .section1 .nav {
        background-color: black;
        height: 60px;
        padding: 20px 42px 10px 42px;

    }

    .section1 .logo .mobile {
        display: flex;
    }

    .section1 .logo .desktop {
        display: none;

    }
    .section2{
        min-width: 783px;
        height: 877px;
       background-color: #00000040;
       box-shadow: 0px 4px 4px 0px #00000040;
       display: flex;
       align-items: center;

          
    }
    father .firstborn img{
        width: 576px;
        height: 480px;
    }

    .father .firstborn .born {
        margin-top: -9rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .father .firstborn .born img{
        width: 50px;
        height: 50px;
    }
        .father .firstborn h6{
            width: 136px;
            height: 60px;
            font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 17.58px;
    text-align: center;
    margin: auto;
    margin-top: 2rem;
        }